*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'cinzel',serif;
}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 9;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbar.bg{
   background: #fff;
   opacity: 0.5;
}
.links-container{
    display: flex;
    align-items: center;
    list-style: none;
}
.link-item{
    margin: 10px;
}
.link{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    opacity: 0.6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbar.bg .link{
    color: #000;
    opacity: 0.7;
}
.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
}
.user-interactions{
    display: flex;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.cart,.user{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.cart-icon,.user-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-item-count{
    font-family: 'lato',sans-serif;
    color: #d5be8b;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #190c05;
    position: absolute;
    bottom: -12px;
    left: -12px;
}
.header-section{
    width: 100%;
    height: 100vh;
    background: url('../img/header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-heading{
    font-size: 100px;
    text-transform: capitalize;
    color: white;
}
.header-heading span{
    color: #d5be8b;
}
/* best selling products */
.best-selling-product-section{
    position: relative;
    padding: 60px 5vw;
}
.section-title{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
}
.product-container{
    display: flex;
    justify-content: space-between;
}
.product-card{
    border: 15px solid #d5be8b;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #d5be8b;
}
.product-card:nth-child(even){
    border-color: #190c05;
    background: #190c05;
}
.product-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: 0.5s;
    -webkit-transform: 0.5s;
    -moz-transform: 0.5s;
    -ms-transform: 0.5s;
    -o-transform: 0.5s;
}
.product-name{
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-family: 'lato',sans-serif;
    font-size: 25px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}
.product-card:hover .product-name{
    opacity: 1;
}
.product-card:hover .product-img{
    opacity: 0.8;
}
/* mid section */
.mid-section{
    width: 100%;
    height: 800px;
    padding: 40px 5vw;
}
.section-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
}
.section-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.section-info{
    width: 50%;
    height: 100%;
    background: #fff;
    display: block;
    margin-left:auto ;
    padding: 50px;
    text-align: center;
    opacity: 0.8;
}
.title{
    font-size: 60px;
    line-height: 100px;
}
.title span{
    color: #d5be8b;
}
.info{
    font-family: 'lato',sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    opacity: 0.5;
}
/* image collage */
.image-mid-section{
    width: 100%;
    height: 600px;
    padding: 50px 5vw;
}
.image-collage{
    width: 100%;
    height: 100%;
    background: url(../img/bg-1.png);
    background-size: cover;
}
.image-collection{
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
    background: #fff;
}
.collage-image{
    position: absolute;
    object-fit: cover;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.collage-image:nth-child(1){
    width: 350px;
    height: 350px;
    top: 20px;
    left: 40px;
}
.collage-image:nth-child(2){
    width: 250px;
    height: 250px;
    top: 200px;
    left: 350px;
}
.collage-image:nth-child(3){
    width: 250px;
    height: 250px;
    top: 10px;
    left: 300px;
}
.collage-image:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
/* review section */
.review-section{
    padding: 50px 5vw;
}
.section-title span{
    color: #d5be8b;
}
.review-container{
    margin: 50px;
    margin-bottom:0;
    display: flex;
    justify-content: space-between;
}
.review-card{
    width: 250px;
    height: auto;
    font-family: 'lato',sans-serif;
}
.user-dp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-dp::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 4px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user-dp::after{
    content: attr(data-rating);
    position: absolute;
    bottom: 0;
    right: -20px;
    padding: 5px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: #d5be8b;
}
.review-title{
    font-size: 18px;
    line-height: 25px;
    margin: 30px 0;
    text-transform: capitalize;
}
.review{
    opacity: 0.7;
}
.end-section{
    margin-top: 300px;
    padding: 50px 5vw;
}
.end-section .section-item-container{
    height: 800px;
}
.end-section .section-info{
    margin: 0;
}
.end-section .title{
    font-size: 100px;
    line-height: 150px;
    margin: 50px;
}
footer{
    font-family: 'lato',sans-serif;
    color: #d5be8b;
    background: #190c05;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}